<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.animalserver.mapper.PostsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.animal.animalserver.entity.Posts">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="author" property="author" />
        <result column="avatar" property="avatar" />
        <result column="comment_count" property="commentCount" />
        <result column="like_count" property="likeCount" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, title, content, author, avatar, comment_count, like_count, created_at, updated_at
    </sql>

</mapper>
