<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.animalserver.mapper.VolunteerSkillsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.animal.animalserver.entity.VolunteerSkills">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="skill_name" property="skillName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application_id, skill_name
    </sql>

</mapper>
